@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

:root {
  --elli-color : rgba(51, 13, 84, 1);
}

body {
	background: linear-gradient(
	    rgba(255, 255, 255, 0.5),
	  rgba(255, 255, 255, 0.5)
	),
	url(./assets/backgorund-image.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center; 
}

h1 {
  color: var(--elli-color);
  text-align: center;
  font-size: 1.3rem;
  text-decoration: underline;
}

input[type="text"] {
  border: 0 ;
  border-bottom: 1px solid var(--elli-color);
  background: transparent;
  margin-top: 1rem;
}

.main-container {
    margin: 5% auto; 
    max-width: 67em;     
    background: rgba(255, 255, 255, 0.49);
}

.main-container > form {
  padding: 3rem 7rem ;
}

.credentials {
  display: flex;
  margin: 1.5rem 0 ;
  flex-wrap: wrap;
}

.credentials input{
  flex-basis: 30%;
  padding: 1rem;
}

.credentials > input:nth-child(1){
  margin-right: 3.5rem ;
}

.credentials > input:nth-child(3) {
  flex-basis: 70%;
}

.questions {
	display: flex;
	flex-wrap: wrap;
  margin: 3rem 0;
  justify-content: space-between;
}

.questions div {
	display: flex;
	flex-direction: column;
}